.App {
  text-align: center;
  padding: 20px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #005a9e;
}

.path {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
}
li {
  display: inline;
}
